*.class
*.log
*.swp
.#*
*.iml
*.pem
*.der
*.p12
*.pkcs12
*.jks
yarn.lock
.tags*
.java-version
package.json
package-lock.json

# ide
.vscode/
.metals/
.bloop/
metals.sbt
.idea

# hydra
.hydra/
project/hydra.sbt

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
sbt-ctags-dep-srcs/
buildinfo.properties
/.bsp/

# OS X
.DS_Store
